{% extends 'base.html.twig' %}

{% block title %}Edit SignConfig
{% endblock %}

{% block body %}
	<h1>Edit SignConfig</h1>

	{{ include('sign_config/_form.html.twig', {'button_label': 'Update'}) }}
	{{ include('sign_config/_delete_form.html.twig') }}

	<a class="btn btn-secondary" href="{{ path('app_sign_config_index') }}">Back to list</a>
	<a class="btn btn-warning" href="{{ path('app_sign_config_generate_query', {'id': sign_config.id}) }}">Generate query</a>

{% endblock %}
