{% extends 'base.html.twig' %}

{% block title %}New {{ configTitle }}{% endblock %}

{% block body %}
  <h1>Create new {{ configTitle }}</h1>

    {{ include('config/_form.html.twig', {
        button_label: button_label|default('Update')
    }) }}


    <a
        class="btn btn-secondary"
        href="{{ path(index_route) }}"
    >
        Back to list
    </a>
{% endblock %}