{% extends 'base.html.twig' %}

{% block title %}Test IDX{% endblock %}

{% block body %}
<h1>Entites :</h1>
<ul>
  <li>
    <a href="{{ path('app_stapling_config_index') }}">Stapling Config</a>
  </li>
</ul>
{% endblock %}
