{% extends 'base.html.twig' %}

{% block title %}Test IDX
{% endblock %}

{% block body %}
	<h1>Entites :</h1>
	<div>
		<ul>
			<li>
				<a href="{{path('app_stapling_config_index')}}">Stapling Config</a>
			</li>
		</ul>

		<ul>
			<li>
				{# <a href="{{path('app_stapling_config_index')}}">Stapling Con/fig</a> #}
				<a href="{{path('app_sign_config_index')}}">Sign Config</a>
			</li>
		</ul>
	</div>
{% endblock %}
