{% extends 'base.html.twig' %}

{% block title %}Edit StaplingConfig{% endblock %}

{% block body %}
  <h1>Edit StaplingConfig</h1>
  
  {{ include('config/_form.html.twig', {'button_label': 'Update'}) }}

  {{ include('config/_delete_form.html.twig', {
      config: stapling_config,
      delete_route: 'app_stapling_config_delete'
    })
  }}

  <a
    class="btn btn-secondary"
    href="{{ path('app_stapling_config_index') }}"
  >Back to list</a>
  <a
    class="btn btn-warning"
    href="{{ path('app_stapling_config_generate_query', {'id': stapling_config.id}) }}"
  >Generate query</a>
{% endblock %}